@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@600;700&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
.container .title{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #222;
    letter-spacing: 1.5px;
    padding: 50px 0px;
}
.container .title h1::after{
    content: "";
    height: 6px;
    width: 180px;
    background-color: #047e85;
    border-radius: 6px;
    position: relative;
    display: block;
    margin: auto;
}
.content{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}
.content .article{
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    background-color: #eee;
    padding: 25px 25px;
}
.content .article h2{
    color: #00c8ff;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.content .article p{
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: #222;
}
.content .article a{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    background-color: #cc0000;
    border-radius: 25px;
    color: #fff;
    border: 1px solid #cc0000;
    letter-spacing: 1.5px;
    margin-top: 35px;
}
.content .article a:hover{
    background-color: #fff;
    color: #cc0000;
    transition: 0.2s ease;
}
.image-section{
    width: 100%;
    margin: auto;
}
.image-section img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 900px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
    .article{
        text-align: justify;
    }
}

footer{
 position: relative;
 bottom: 0;
}

.footer-distributed{
 background-color: black;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: bold 16px sans-serif;
 
 padding: 55px 50px;
 margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
 display: inline-block;
 vertical-align: top;
}
 
.footer-distributed .footer-left{
 width: 40%;
}
 
.footer-distributed h3{
 color:  #ffffff;
 font: normal 36px 'Cookie', cursive;
 margin: 0;
 font-family: 'Montserrat', 'san-serif';
}
 
.footer-distributed h3 span{
 color:  #047e85;
}
 
 
.footer-distributed .footer-links{
 color:  #ffffff;
 margin: 20px 0 12px;
 padding: 0;
}
 
.footer-distributed .footer-links a{
 display:inline-block;
 line-height: 1.8;
 text-decoration: none;
 color:  inherit;
 font-family: 'Montserrat', 'san-serif';
 font-size: 14px;
}
 
.footer-distributed .footer-company-name{
 color:  #8f9296;
 font-size: 14px;
 font-weight: normal;
 margin: 0;
}
 
 
.footer-distributed .footer-center{
 width: 35%;
}
 
.footer-distributed .footer-center i{
 background-color:  #33383b;
 color: #ffffff;
 font-size: 25px;
 width: 38px;
 height: 38px;
 border-radius: 50%;
 text-align: center;
 line-height: 42px;
 margin: 10px 15px;
 vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
 font-size: 17px;
 line-height: 38px;
}
 
.footer-distributed .footer-center p{
 display: inline-block;
 color: #ffffff;
 vertical-align: middle;
 margin:0;
}
 
.footer-distributed .footer-center p span{
 display:block;
 font-weight: normal;
 font-size:14px;
 line-height:2;
 color: #f0c11e;
}
 
.footer-distributed .footer-center p a{
 color:  #f0c11e;
 text-decoration: none;
}
 
.footer-distributed .footer-right{
 width: 20%;
}
 
.footer-distributed .footer-company-about{
 line-height: 20px;
 color:  #92999f;
 font-size: 13px;
 font-weight: normal;
 margin: 0;
 text-align: justify;
}
 
.footer-distributed .footer-company-about span{
 display: block;
 color:  #ffffff;
 font-size: 14px;
 font-weight: bold;
 margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
 margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
 display: inline-block;
 width: 35px;
 height: 35px;
 cursor: pointer;
 background-color:  #33383b;
 border-radius: 2px;
 
 font-size: 20px;
 color: #ffffff;
 text-align: center;
 line-height: 35px;
 
 margin-right: 3px;
 margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
 background-color: #047e85;
}
 
@media (max-width: 880px) {
 
 .footer-distributed{
 font: bold 14px sans-serif;
 
 }
 
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
 display: block;
 width: 100%;
 margin-bottom: 40px;
 text-align: center;
 }
 
 .footer-distributed .footer-center i{
 margin-left: 0;
 }
 .main {
 line-height: normal;
 font-size: auto;
 }
 
}